/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: KaiseiDecol;
  src: url(assets/KaiseiDecol-Regular.ttf);
}
@font-face {
  font-family: KaiseiDecol;
  src: url(assets/KaiseiDecol-Bold.ttf);
  font-weight: bolder;
}

